body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.card {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    max-height: 200px;
    object-fit: cover;
}

.custom-file-label::after {
    content: "Durchsuchen";
}

.input-group-text {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-left: 0;
}

.custom-file-input:focus ~ .custom-file-label {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

@media (max-width: 768px) {
    .btn {
        font-size: 1.2rem;
    }

    .form-control {
        font-size: 1rem;
    }

    .card-title {
        font-size: 1.25rem;
    }

    .card-text {
        font-size: 1rem;
    }
}
